@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent_text: #212121;
  --accent_blue: #4054F7;
  --bg_white: #FFFFFF;
  --bg_light: #F1F1F1;
  --bg_lighter: #F3F3F3;
  --bg_gray: #EAEAEA;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--accent_text);
}

.accent-blue {
  color: var(--accent_blue);
}